body {
  padding: 50px;
  font: 18px "Lucida Sans", Helvetica, Arial, sans-serif;
}


header {
  background-color: grey;
}

header nav, img, h1{
  color:white;
  margin:16px;
}
* {
  box-sizing: border-box;
}

.tagging {
  width: 25%;
  float: left;
  padding: 15px;
}

.discovery {
  width: 75%;
  float: left;
  padding: 15px;
}
#filter-form{
  padding:15px;
}
.taglist{
  width:33%;
  float: left;
  padding: 15px;

}
.tagmap {

  justify-content: left;
}
#result-img {
  width: 66%;
  height: 66%;
  }

#tag-form{

}
#tag-form label {
  display: flex;
  padding-bottom: 8px;
}
#tag-form input {
  display: flex;
  padding: 8px;
  margin-bottom: 7px;
}

fieldset#tag-form:nth-child(n){
  border: #ad4141;
  display: flex;
  flex-direction: column;
}
.taglist ul{
  list-style-type: none;
  margin:0;
  padding:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.taglist ul li{
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 8px;
  margin-bottom: 7px;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: grey;
  color:white;
  clear:both;
  padding:15px;
  position: center;
}

a {
  color: #00ffdb;
}


