body {
    padding: 50px;
    font: 16px "Lucida Sans", Helvetica, Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

* {
    box-sizing: border-box;
}

header{
    background-color:gray;
    color:#ffffff;
    padding: 15px;
}
footer {
    background-color: gray;
    padding: 15px;
}
a {
    color: #00B7FF;
}


main{
    display: flex;
    flex-direction: row;
}
main::after{
    content: "";
    clear: both;
    display: table;
}
.tagging{
    width: 25%;
    float:left;
    padding:15px;
}
.tagging input{
    padding:8px;
}
.tagging input ,.tagging label{
    display: flex;
    margin:8px;
}
input[type="submit"]{
    font-size:16px;
}

.discovery {
    width: 75%;
    padding: 15px;
}

.discovery::after {
    content: "";
    clear: both;
    display: table;
}

#filter-form input[type="search"], #filter-form input[type="submit"]{
    padding:8px;
    margin-right: 7px;
}

.tagmap{
    display:flex;
    flex-direction: column;
    padding: 8px;
}

.taglist ul{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width:33%;
    float:left;
    list-style-type: none;
    margin:0px;
    padding:0;
}

.taglist ul li {
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 8px;
    margin: 7px;
}

footer {
    background-color: gray;
    padding: 15px;
}
a {
    color: #00B7FF;
}


@media screen and (max-width: 800px) {
    body{
        padding:0px;
    }
    main {
        flex-direction: column;
        padding: 0px;
    }

    .tagging {
        flex-direction: column;
    }
    .taglist ul{
        width:100%;
    }

    .discovery {
        display: flex;
        flex-direction: column;
        flex:100%;

    }


}

