body {
    padding: 50px;
    font: 16px "Lucida Sans", Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

header{
    background-color:gray;
    color:#ffffff;
    padding: 15px;
}

footer {
    background-color: gray;
    padding: 15px;
}
a {
    color: #00B7FF;
}

main{
    display:flex;
    flex-direction: row;
}

.tagging{
    width: 25%;
    float:left;
    padding:15px;
}

.tagging input ,.tagging label{
    display: flex;
    margin:8px;
}

input[type="submit"]{
    font-size:16px;
}

.tagging input{
    padding:8px;
}



.discovery {
    width: 75%;
    padding: 15px;
}

#filter-form input[type="search"], #filter-form input[type="submit"]{
    padding:8px;
    margin-right: 7px;
}

.taglist ul{
    float:left;
    width:33%;
    list-style-type: none;
    margin:0;
    padding:0;
}

.taglist ul li {
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 8px;
    margin: 7px;
}

.tagmap{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

#result-img{
    margin-bottom: 8px;
    max-width: 100%;
}

@media screen and (max-width: 850px) {
    main {
        flex-direction: column;
    }

     .discovery, .tagging {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .taglist ul{
        width:100%;
    }

}

